<!DOCTYPE html>
<html layout:decorator="layout/base" lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Strona główna</title>

</head>
<body>
<div layout:fragment="content">

<div class="mdl-color-text--grey-600 user-paragraph" >
 <h2 class="user-h2">SIEMKA!</h2>
  <p>To jest nowa, odświeżona wersja naszego tajnego pirackiego serwisu. Jest kilka zmian:</p>
  <ul>
    <li>Wygląd, wiadomka</li>
    <li>W prawym górnym rogu jest wyszukiwarka. Jest to bardzo prosta wyszukiwarka, więc najlepiej szukać po jednym słowie, bo np. jak w nazwie pliku między słowami są kropki a my wpiszemy ze spacją, to nie wyszuka. </li>
    <li>Można porządkować pliki po dacie albo nazwie. I rosnąco albo malejąco. Ustawienia będą pamiętane.</li>
    <li>Teraz pliki są przechowywane w bazie danych, co powoduje, że linki są zgrabne i nie da się tak łatwo włamać na dysk twardy. Niby drobiazg, a cieszy</li>
  </ul>
  <h2 class="user-h2">CO BĘDZIE</h2>
  W przyszłości bym chciał jeszcze dodać:
  <ul>
    <li>Jakiś prosty system aktualności, żeby dodawać takie notki, że np. wpadł cztery nowe filmy i takie tam</li>
    <li>Sortowanie po rozmiarze. Bo czemu nie?</li>
    <li>Breadcrumbsy.</li>
    <li>Widok kafelkowy.</li>
    <li>Integrację z imdb. W sensie, że wyszukuje w bazie imdb po tytule filmu i jak znajduje, to pobiera okładkę i info na temat filmu. Ale to większa robota</li>
  </ul>
  To tyle na razie. Jakbyście mieli jakieś uwagi, coś nie działało, to dajcie znać. J.
</div>
</div>

</body>
</html>